body{
    padding: 0;
    margin: 0;
}
.header-part, .meet-manager{
    display: flex;
}
.half-width{
    width: 50%; 
    padding: 0% 8%;
}
.space{
    padding-top: 10%;
}
.space5{
    padding-top: 5%;
}
.half-width img{
    width: 100%;
}
.headline-font{
    font-family: 'Yeseva One', cursive;;
    font-size: 50px;
    border-left: 5px solid red;
    border-radius: 5px;
    padding-left: 5%;
}
.orange-color{
    color: #FFAD5A;
}
.red-color{
    color: #FF5959;
}
p{
    font-size: 18;
    color: #3E3E3E;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}
.link-btn{
    background-color: #FF5959;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}
.section-heading{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    padding: 3% 0%;
}
.cards{
    display: flex;
    margin: 0% 5%;
    margin-bottom: 5%;
}
.mission-card{
    width: 25%;
    margin: 1% 2%;
    padding: 2%;
    border-radius: 20px;
}
.mission-card img{
    width: 30%;
}
.thirty-width{
    width: 40%;
    padding: 0% 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 50%;
}
.thirty-width img{
    width: 100%;
}
.seventy-width{
    width: 60%;
    padding: 0% 5%;
}
.seventy-width img{
    width: 100%;
}
.develop-limits{
    display: flex;
    background-image: url(images/shapes/);
}
.know-global{
    display: flex;
}
.para{
    color: 3E3E3E;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: black;
    color: white!important;
    padding: 2% 0%;
    margin-top: 5%;
}